<div>
    <div class="card text-center mx-auto" style="width: 18rem; background-color: #f8f9fa;">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Todos los campos obligatorios</h6>
            <h6>Cédula válida:  23445322</h6>
            <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                {{ errorMessage }}
            </div>
            <form [formGroup]="searchForm">
                <div class="form-group">
                    <label for="documentType">Tipo de documento</label>
                    <select class="custom-select custom-select-sm form-control" formControlName="documentType"
                        [(ngModel)]="client.documentType">
                        <option value='C'>Cédula de ciudadanía</option>
                        <option value='P'>Pasaporte</option>
                    </select>
                    <div class="alert alert-danger" role="alert"
                        *ngIf="searchForm.get('documentType')?.invalid && (searchForm.get('documentType')?.dirty || searchForm.get('documentType')?.touched)">
                        Este campo es requerido
                    </div>
                </div>
                <div class="form-group">
                    <label for="documentNumber">Número de documento</label>
                    <input type="number" class="form-control" formControlName="documentNumber"
                        [(ngModel)]="client.documentNumber">
                    <div class="alert alert-danger" role="alert"
                        *ngIf="searchForm.get('documentNumber')?.invalid && (searchForm.get('documentNumber')?.dirty || searchForm.get('documentNumber')?.touched)">
                        Este campo es requerido
                    </div>
                </div>
            </form>
            <div class="card-footer text-center">
                <button type="button" class="btn btn-primary" (click)="search()"
                    [disabled]="!searchForm.valid">Buscar</button>
            </div>
        </div>
    </div>
</div>